Package: libsope-xml4.9
Source: sope
Version: 4.7.0-0
Architecture: powerpc
Maintainer: Sebastian Ley <ley@debian.org>
Installed-Size: 692
Depends: libc6 (>= 2.4), libgcc1 (>= 1:4.1.1)
Section: libs
Priority: extra
Description: SOPE libraries for XML processing
 SOPE is a framework for developing web applications and services. The
 name "SOPE" (SKYRiX Object Publishing Environment) is inspired by ZOPE.
 .
 The SOPE libraries for XML processing contain:
 .
  * a SAX2 Implementation for Objective-C
  * an attempt to implement DOM on top of SaxObjC
  * an XML-RPC implementation (without a transport layer)
