Package: libsope4.9-dev
Source: sope
Version: 4.7.0-0
Architecture: all
Maintainer: Sebastian Ley <ley@debian.org>
Installed-Size: 32
Depends: libsope-appserver4.9-dev, libsope-core4.9-dev, libsope-xml4.9-dev, libsope-mime4.9-dev, libsope-ldap4.9-dev, libsope-ical4.9-dev, libsope-gdl1-4.9-dev
Conflicts: libsope-dev
Provides: libsope-dev
Section: libdevel
Priority: extra
Description: Development files for all SOPE libraries
 SOPE is a framework for developing web applications and services. The
 name "SOPE" (SKYRiX Object Publishing Environment) is inspired by ZOPE.
 .
 This is a meta-package depending on all development files of all
 components of SOPE.
