#tmplsrc {
  font-size: 8pt;
  padding:   1em;
  border:    1px solid #FFDAAA; /* Plone: #8cacbb; */
  color:     Black;
  background-color: #FCF8DF;
  /* Plone: background-color: #dee7ec; */
}

div#header {
        margin-left:  5px;
        margin-right: 5px;
        padding:      0;
        border-bottom: 1px solid #000000;
}
div#header img.headerlogo {
        float:  right; 
        width:  182px; 
        height: 30px;
}
      
div#header div#headerhistory {
        font-size:   11px;
        color:       #000000;
        margin:      0px;
        padding-top: 18px;
        height:      12px;
}
div#header a, div#header span {
        margin:      0px;
}
div#header span#navtitle {
  font-weight: bold;
}
div#header a:hover {
  text-decoration: none;
}
