Package: libsope-ical4.9
Source: sope
Version: 4.7.0-0
Architecture: powerpc
Maintainer: Sebastian Ley <ley@debian.org>
Installed-Size: 472
Depends: libc6 (>= 2.3), libgcc1 (>= 1:4.1.1), libsope-core4.9 (>= 4.7.0), libsope-xml4.9 (>= 4.7.0)
Section: libs
Priority: extra
Description: SOPE libraries for iCal handling
 SOPE is a framework for developing web applications and services. The
 name "SOPE" (SKYRiX Object Publishing Environment) is inspired by ZOPE.
 .
 The SOPE libraries for iCal handling contain  classes for iCalendar and
 vCard objects.
