Package: sope4.9-stxsaxdriver
Source: sope
Version: 4.7.0-0
Architecture: powerpc
Maintainer: Sebastian Ley <ley@debian.org>
Installed-Size: 32
Provides: sope-stxsaxdriver
Section: web
Priority: extra
Description: Structured Text Parser for SOPE's SAX engine
 SOPE is a framework for developing web applications and services. The
 name "SOPE" (SKYRiX Object Publishing Environment) is inspired by ZOPE.
 .
 This parser enables SOPE's SAX engine to parse structured text files.
