{
  NGObjWeb_doc_   = "default WebDAV property mappings for NGObjWeb";

  /* DAV */
  "{DAV:}iscollection"         = "davIsCollection";
  "{DAV:}ishidden"             = "davIsHidden";
  "{DAV:}uid"                  = "davUid";
  "{DAV:}href"                 = "davURL";
  "{DAV:}getlastmodified"      = "davLastModified";
  "{DAV:}creationdate"         = "davCreationDate";
  "{DAV:}getcontentlength"     = "davContentLength";
  "{DAV:}getcontenttype"       = "davContentType";
  "{DAV:}getetag"              = "davEntityTag";
  "{DAV:}displayname"          = "davDisplayName";
  "{DAV:}hassubs"              = "davHasSubFolders";
  "{DAV:}nosubs "              = "davDenySubFolders";
  "{DAV:}childcount"           = "davChildCount";
  "{DAV:}objectcount"          = "davObjectCount";
  "{DAV:}visiblecount"         = "davVisibleCount";
  "{DAV:}isfolder"             = "davIsFolder";
  "{DAV:}resourcetype"         = "davResourceType";
  "{DAV:}contentclass"         = "davContentClass";
  "{DAV:}isstructureddocument" = "davIsStructuredDocument";
  "{DAV:}status"               = "davStatus";
  "{DAV:}resource-id"          = "davResourceId";
  "{http://apache.org/dav/props/}executable" = "davIsExecutable";

  /* RFC 3253 - Versioning Extensions to WebDAV (DeltaV) */
  "{DAV:}comment" = "davComment";
  "{DAV:}creator-displayname" = "davCreatorDisplayName";
  "{DAV:}supported-method-set" = "davSupportedMethodSet";
  "{DAV:}supported-live-property-set" = "davSupportedLivePropertySet";
  "{DAV:}supported-report-set" = "davSupportedReportSet";

  /* used with Apple WebDAV */
  "{DAV:}quota"                = davQuota;
  "{DAV:}quotaused"            = davQuotaUsed;
  "{http://www.apple.com/webdav_fs/props/}appledoubleheader"=appleDoubleHeader;

  /* Novell NetDrive */
  "{DAV:}locktoken"            = davLockToken;
  "{DAV:}activelock"           = davActiveLock;
  // TODO: non-standard?, also used by WebDrive
  "{DAV:}collection"           = davNetDriveCollection;

  /* new in current WebFolders */
  "{DAV:}defaultdocument"    = davDefaultDocument;
  "{DAV:}getcontentlanguage" = davContentLanguage;
  "{DAV:}isreadonly"         = davIsReadOnly;
  "{DAV:}isroot"             = davIsRoot;
  "{DAV:}lastaccessed"       = davLastAccessed;
  "{DAV:}name"               = davName;
  "{DAV:}parentname"         = davParentName;
  
  /* new in Cadaver 0.21.0 */
  "{DAV:}checked-in"  = davCheckedIn;
  "{DAV:}checked-out" = davCheckedOut;

  /* WebDrive 7.10.1475 */

  "{DAV:}srt_creationtime"   = davWebDriveCreationTime;
  "{DAV:}srt_modifiedtime"   = davWebDriveModificationTime;
  "{DAV:}srt_proptimestamp"  = davWebDrivePropTimestamp;
  "{DAV:}srt_lastaccesstime" = davWebDriveLastAccessTime;
  "{DAV:}SRT_fileattributes" = davWebDriveFileAttributes;
  "{DAV:}BSI_isreadonly"     = davIsReadOnly;
  
  /* Nautilus DAV support */
  "{http://services.eazel.com/namespaces}nautilus-treat-as-directory" = 
    "davIsFolder";

  /* Konqueror */
  "{DAV:}source"        = davSourceURL;
  "{DAV:}executable"    = davIsExecutable;
  "{DAV:}supportedlock" = davSupportedLock;
  "{DAV:}lockdiscovery" = davLockDiscovery;
  
  /* HotMail (TM) */
  "{http://schemas.microsoft.com/hotmail/}adbar"   = "hotmailAdbarInfo";
  "{http://schemas.microsoft.com/hotmail/}maxpoll" = "hotmailMaxPollInterval";
  "{http://schemas.microsoft.com/hotmail/}sig"     = "hotmailSignature";
  
  /* HTTP-Mail folders */
  "{urn:schemas:httpmail:}calendar"        = "calendarFolderURL";
  "{urn:schemas:httpmail:}contacts"        = "contactsFolderURL";
  "{urn:schemas:httpmail:}deleteditems"    = "trashFolderURL";
  "{urn:schemas:httpmail:}msgfolderroot"   = "accountRootURL";
  "{urn:schemas:httpmail:}drafts"          = "draftsFolderURL";
  "{urn:schemas:httpmail:}inbox"           = "inboxFolderURL";
  "{urn:schemas:httpmail:}journal"         = "journalFolderURL";
  "{urn:schemas:httpmail:}notes"           = "notesFolderURL";
  "{urn:schemas:httpmail:}outbox"          = "outboxFolderURL";
  "{urn:schemas:httpmail:}sendmsg"         = "mtaURL";
  "{urn:schemas:httpmail:}sentitems"       = "sentFolderURL";
  "{urn:schemas:httpmail:}tasks"           = "tasksFolderURL";
  "{urn:schemas:httpmail:}junkemail"       = "junkFolderURL";
  
  /* HTTP-Mail fields */
  "{urn:schemas:httpmail:}date"            = "date";
  "{urn:schemas:httpmail:}hasattachment"   = "hasAttachment";
  "{urn:schemas:httpmail:}read"            = "read";
  "{urn:schemas:httpmail:}textdescription" = "textDescription";
  "{urn:schemas:httpmail:}unreadcount"     = "unreadCount";
  "{urn:schemas:mailheader:}cc"            = "cc";
  "{urn:schemas:mailheader:}date"          = "date";
  "{urn:schemas:mailheader:}from"          = "from";
  "{urn:schemas:mailheader:}in-reply-to"   = "inReplyTo";
  "{urn:schemas:mailheader:}message-id"    = "messageId";
  "{urn:schemas:mailheader:}received"      = "received";
  "{urn:schemas:mailheader:}references"    = "references";
  "{urn:schemas:mailheader:}subject"       = "davDisplayName";
  "{urn:schemas:mailheader:}to"            = "to";
  
  /* Exchange 2000 (TM) */
  "{http://schemas.microsoft.com/exchange/}outlookfolderclass" = 
    "outlookFolderClass";
  "{http://schemas.microsoft.com/exchange/}outlookmessageclass" =
    "outlookMessageClass";

  /* OpenOffice.org */
  "{http://ucb.openoffice.org/dav/props/}IsReadOnly"    = davIsReadOnly;
  "{http://ucb.openoffice.org/dav/props/}BaseURI"       = davBaseURI; // TODO
  "{http://ucb.openoffice.org/dav/props/}IsCompactDisc" = isOOoCompactDisc;
  "{http://ucb.openoffice.org/dav/props/}IsFloppy"      = isOOoFloppy;
  "{http://ucb.openoffice.org/dav/props/}IsHidden"      = davIsHidden;
  "{http://ucb.openoffice.org/dav/props/}IsRemote"      = isOOoRemote;
  "{http://ucb.openoffice.org/dav/props/}IsRemoveable"  = isOOoRemoveable;
  "{http://ucb.openoffice.org/dav/props/}IsVolume"      = isOOoVolume;
  "{http://ucb.openoffice.org/dav/props/}TargetURL"     = davOOoTargetURL;
  
  /* WebDAV ACL */
  "{DAV:}owner"                      = davOwner;
  "{DAV:}group"                      = davGroup;
  "{DAV:}supported-privilege-set"    = davSupportedPrivilegeSet;
  "{DAV:}principal-collection-set"   = davPrincipalCollectionSet;
  "{DAV:}acl"                        = davAcl;
  "{DAV:}acl-restrictions"           = davAclRestrictions;
  "{DAV:}current-user-privilege-set" = davCurrentUserPrivilegeSet;
  "{DAV:}current-user-principal"     = davCurrentUserPrincipal;
  "{DAV:}inherited-acl-set"          = davInheritedAclSet;
  "{DAV:}principal-URL"              = davPrincipalURL;
  "{DAV:}alternate-URI-set"          = davAlternateURISet;
  "{DAV:}group-member-set"           = davGroupMemberSet;
  "{DAV:}group-membership"           = davGroupMembership;

  /* CalDAV */
  "{urn:ietf:params:xml:ns:caldav}calendar-data" = davCalendarData;
  "{urn:ietf:params:xml:ns:caldav}calendar-description" = davDescription;
  "{urn:ietf:params:xml:ns:caldav}calendar-home-set" = davCalendarHomeSet;
  "{urn:ietf:params:xml:ns:caldav}calendar-user-address-set" =
     davCalendarUserAddressSet;
  "{urn:ietf:params:xml:ns:caldav}calendar-free-busy-set" =
     davCalendarFreeBusySet;
  "{urn:ietf:params:xml:ns:caldav}schedule-inbox-URL" = davCalendarScheduleInboxURL;
  "{urn:ietf:params:xml:ns:caldav}schedule-outbox-URL" = davCalendarScheduleOutboxURL;
  "{urn:ietf:params:xml:ns:caldav}supported-calendar-component-set" =
     davCalendarComponentSet;
  "{urn:ietf:params:xml:ns:caldav}supported-calendar-data" =
     davSupportedCalendarDataTypes;
  "{urn:ietf:params:xml:ns:caldav}calendar-description" = davDescription;
  "{urn:ietf:params:xml:ns:caldav}calendar-timezone" = davCalendarTimeZone;
  "{urn:ietf:params:xml:ns:caldav}schedule-default-calendar-URL" = davScheduleDefaultCalendarURL;
  "{urn:ietf:params:xml:ns:caldav}schedule-calendar-transp" = davScheduleCalendarTransparency;
  "{urn:ietf:params:xml:ns:caldav}calendar-user-type" = davCalendarUserType;

  /* CardDAV */
  "{urn:ietf:params:xml:ns:carddav}address-data" = davAddressData;
  "{urn:ietf:params:xml:ns:carddav}addressbook-home-set" = davAddressbookHomeSet;
  "{urn:ietf:params:xml:ns:carddav}supported-address-data" =
     davSupportedAddressDataTypes;
  "{urn:ietf:params:xml:ns:carddav}addressbook-description" = davDescription;

  /* Apple CalServer */
  "{http://calendarserver.org/ns/}dropbox-home-URL" = davDropboxHomeURL;
  "{http://calendarserver.org/ns/}notifications-URL" = davNotificationsURL;
  "{http://calendarserver.org/ns/}getctag" = davCollectionTag;
  "{http://calendarserver.org/ns/}calendar-proxy-read-for" = davCalendarProxyReadFor;
  "{http://calendarserver.org/ns/}calendar-proxy-write-for" = davCalendarProxyWriteFor;
  "{http://calendarserver.org/ns/}allowed-sharing-modes" = davAllowedSharingModes;
  "{http://calendarserver.org/ns/}first-name" = davFirstName;
  "{http://calendarserver.org/ns/}last-name" = davLastName;
  "{http://calendarserver.org/ns/}email-address-set" = davEmailAddressSet;
  "{http://calendarserver.org/ns/}record-type" = davRecordType;

  /* Apple extensions */
  "{http://apple.com/ns/ical/}calendar-color" = davCalendarColor;
  "{http://apple.com/ns/ical/}calendar-order" = davCalendarOrder;

  /* GroupDAV */
  "{http://www.groupdav.org/}component-set" = gdavComponentSet;
  "{http://groupdav.org/}component-set"     = gdavComponentSet;

  /* Inverse */
  "{urn:inverse:params:xml:ns:inverse-dav}contacts-categories" = davContactsCategories;
  "{urn:inverse:params:xml:ns:inverse-dav}events-default-classification" = davEventsDefaultClassification;
  "{urn:inverse:params:xml:ns:inverse-dav}tasks-default-classification" = davTasksDefaultClassification;
}
