{
  NGObjWeb_doc_                         = "NSUserDefaults for NGObjWeb";

  NGLogDefaultAppenderClass             = "NGLogStderrAppender";
  NGLogDefaultLogLevel                  = "INFO";
  NGLogDefaultLogEventFormatterClass    = "NGLogEventDetailedFormatter";
  WOAdaptor                             = "WOHttpAdaptor";
  WOAdaptorLogPath                      = "";
  WOAdditionalAdaptors                  = ( );
  WOApplicationBaseURL                  = "/WebObjects";
  WOApplicationSuffix                   = ".woa";
  WOAutoOpenInBrowser                   = NO;
  WOCGIAdaptorURL                       = "http://localhost/cgi-bin/WebObjects";
  WOCachingEnabled                      = YES;
  WOComponentExtensions                 = ( wo );
  WOComponentLoadWOOFiles               = NO;
  WOComponentRequestHandlerKey          = "wo";
  WOCompoundElementPool                 = NO;
  WOContextClass                        = WOContext;
  WOCoreOnApplicationException          = NO;
  WOCoreOnAwakeComponentInCtxDealloc    = NO;
  WOCoreOnHTTPAdaptorException          = NO;
  WOCoreOnRecursiveSubcomponents        = NO;
  WOCoreOnXmlRpcFault                   = NO;
  WODebugActions                        = NO;
  WODebugComponentAwake                 = NO;
  WODebugComponentDefinition            = NO;
  WODebugComponentLookup                = NO;
  WODebugCursor                         = NO;
  WODebugHttpTransaction                = NO;
  WODebugKeyPathAssociation             = NO;
  WODebugResourceLookup                 = NO;
  WODebugStaticLinkProcessing           = NO;
  WODebugTakeValues			= NO;
  WODebugZipResponse                    = NO;
  WODebuggingEnabled                    = NO;
  WODefaultResourceManager              = "WOResourceManager";
  WODefaultSessionTimeOut               = 3600;
  WODefaultLanguages = ( 
    English, 
    German, 
    Danish, 
    Dutch,
    French, 
    Spanish, 
    Italian, 
    Portuguese, 
    ptBR
  );
  WODescriptiveElementIDs               = NO;
  WODirectActionRequestHandlerKey       = "x";
  WODontZipResponse                     = NO;
  WOEnableComponentsWithoutClasses      = NO;
  WOExpirationTimeInterval              = 120;
  WOFormAlwaysPassDown                  = YES;
  WOFrameworksBaseURL                   = "/WebObjects/Frameworks";
  WOGenerateMissingResourceLinks        = NO;
  WOHttpAdaptorForkCount                = 0;
  WOHttpAdaptorReceiveTimeout           = 120;
  WOHttpAdaptorSendTimeout              = 120;
  WOHttpAdaptor_LogStream               = NO;
  WOHttpAllowHost                       = ();
  WOHttpTransactionUseSimpleParser      = NO;
  WOHttpTransactionLoggerConfig         = {
    "LogLevel"  = "INFO";
    "Appenders" = (
        {
            "Class"     = "NGLogStdoutAppender";
            "Formatter" = {
               "Class" = "NGLogEventFormatter";
            };
        },
    );
  };
  WOIncludeCommentsInResponse           = YES;
  WOIsRedirectionEnabled                = NO;
  WOKeyPathAssociationsCacheSize        = 200;
  WOListenQueueSize                     = 5;
  WOLogComponents                       = NO;
  WOLogDefaultsOnStartup                = NO;
  WOLogPageCache                        = NO;
  WOLogScriptDealloc                    = NO;
  WOLogScriptInit                       = NO;
  WOLogScriptKVC                        = NO;
  WOLogXmlRpcSelectorMapping            = NO;
  WONoProxySuffixes                     = ( );
  WONoSelectionString                   = "WONoSelectionString";
  WOOutputValidationEnabled             = NO;
  WOPageCacheSize                       = 30;
  WOPageRefreshOnBacktrack              = YES;
  WOPageRequestHandlerDebugEnabled      = NO;
  WOParsersUseUTF8                      = NO;
  WOPermanentPageCacheSize              = 30;
  WOPort                                = 20000;
  WOProfileApplication                  = NO;
  WOProfileComponents                   = NO;
  WOProfileDirectActionRequestHandler   = NO;
  WOProfileElements                     = NO;
  WOProfileHttpAdaptor                  = NO;
  WOProfileLoading                      = NO;
  WOProfileResponse                     = NO;
  WOProjectSearchPath                   = ();
  WORedirectURISafetySuffix             = "/view/view/view/view";
  WOResourceRequestHandlerKey           = "y";
  WOResourceURLAssociationDebugEnabled  = NO;
  WORunMultithreaded                    = NO;
  WOSMTPHost                            = "mail";
  WOSendMail                            = "/usr/lib/sendmail";
  WOSessionStore                        = "WOServerSessionStore";
  WOSimpleHTTPParserDebugEnabled        = NO;
  WOSimpleHTTPParserFileIOBoundary      = 16384;
  WOSimpleHTTPParserHeavyDebugEnabled   = NO;
  WOSimpleHTTPParserMaxUploadSizeInKB   = 262144;
  WOStatsStylesheetName                 = "WOStats.xsl";
  WOSubmitButtonEnableValueSync         = NO;
  WOWatchDogRequestTimeout              = 10;
  WOUseRelativeURLs                     = YES;
  WOUseGlobalCookiePath                 = YES;
  WOValueAssociationsCacheSize          = 200;
  WOWorkerThreadCount                   = 0;
  WOxFileExtensions                     = ( wox, xtmpl, xhtml );
  WOxElemBuilder_LogAssociationMapping  = NO;
  WOxElemBuilder_LogAssociationCreation = NO;
  WOxComponentElemBuilderDebugEnabled   = NO;
  WOxLogBuilderQueue                    = NO;
  WOxBuilderClasses = ( 
    WOxTalElemBuilder,
    WOxControlElemBuilder,
    WOxMiscElemBuilder,
    WOxHTMLElemBuilder,
    WOxXULElemBuilder,
    WExCalElemBuilder,
    WExDnDElemBuilder,
    WExExtElemBuilder,
    WOxExtElemBuilder,
    WOxComponentElemBuilder
  );
  WOxAssociationClassMapping = {
    "http://www.skyrix.com/od/binding"    = WOKeyPathAssociation;
    "http://www.skyrix.com/od/constant"   = WOValueAssociation;
    "http://www.skyrix.com/od/javascript" = WOScriptAssociation;
    "http://www.skyrix.com/od/so-lookup"  = SoLookupAssociation;
    "OGo:bind"                            = WOKeyPathAssociation;
    "OGo:value"                           = WOValueAssociation;
    "OGo:script"                          = WOScriptAssociation;
    "OGo:url"                             = WOResourceURLAssociation;
    "OGo:label"                           = WOLabelAssociation;
    "OGo:path"                            = SoLookupAssociation;
  };
  SoClassRegistryDebugEnabled          = NO;
  SoDebugKeyLookup                     = NO;
  SoDebugTraversal                     = NO;
  SoDebugProductLoading                = NO;
  SoDebugProductRegistry               = NO;
  SoDebugRequestClassification         = NO;
  SoLogSecurityDeclarations            = NO;
  SoOFSDebugFactory                    = NO;
  SoOFSDebugPlistObject                = NO;
  SoOFSDebugRestore                    = NO;
  SoOFSDebugNegotiate                  = NO;
  SoOFSDebugAuthLookup                 = NO;
  SoOFSWebMethodDebugEnabled           = NO;
  SoOFSResourceManagerDebugEnabled     = NO;
  SoObjCClassDebugEnabled              = NO;
  SoObjectDAVDispatcherDebugEnabled    = NO;
  SoObjectXmlRpcDispatcherDebugEnabled = NO;
  SoObjectSOAPDispatcherDebugEnabled   = NO;
  SoObjectDataSourceDebugEnabled       = NO;
  SoObjectRequestHandlerDebugEnabled   = NO;
  SoObjectMethodDispatcherDebugEnabled = NO;
  SoPageInvocationDebugEnabled         = NO;
  SoProductResourceManagerDebugEnabled = NO;
  SoRendererDebugEnabled               = NO;
  SoRedirectToDefaultMethods           = YES;
  SoSecurityManagerDebugEnabled        = NO;
  SoPreferredNamespacePrefixes = {
    "DAV:" = "D";
    "http://www.skyrix.com/od/binding"            = "var";
    "http://www.skyrix.com/od/constant"           = "const";
    "http://www.skyrix.com/od/javascript"         = "js";
    "http://www.w3.org/1999/xhtml"                = "html";
    "http://www.w3.org/TR/REC-html40"             = "html4";
    "http://www.w3.org/1999/xlink"                = "xlink";
    "http://www.w3.org/1999/XSL/Transform"        = "xsl";
    "http://www.w3.org/1999/02/22-rdf-syntax-ns#" = "RDF";
    "http://www.wapforum.org/DTD/wml_1.2.xml"     = "wml";
    "http://schemas.microsoft.com/hotmail/"       = "hm";
    "http://schemas.microsoft.com/exchange/"      = "X";
    "urn:schemas:contacts:"                       = "A";
    "urn:schemas:calendar:"                       = "C";
    "http://schemas.microsoft.com/mapi/proptag/"  = "pt";
    "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul" = "xul";
    "http://www.ietf.org/internet-drafts/draft-ietf-calsch-many-xcal-01.txt" =
      "xcal";
    "http://apache.org/dav/props/" = "ap";
    "http://webdav.org/cadaver/custom-properties/" = "cdv";
  };
  SoDefaultWebDAVPropertyNames = (
    "{DAV:}creationdate",
    "{DAV:}getcontentlength",
    "{DAV:}getlastmodified",
    "{DAV:}getetag",
    "{DAV:}resourcetype",
    "{DAV:}getcontenttype",
    "{DAV:}displayname",
    "{DAV:}href",
    "{http://apache.org/dav/props/}executable"
  );
  SoWebDAVFormatOutput = NO;
  DAVParserDebugProp = NO;
  
  SoWebDAVDisableCrossHostMoveCheck = NO;
  
  SoWebDAVDefaultAllowMethods = (
    GET, HEAD, POST, OPTIONS, MKCOL, MKCALENDAR, DELETE, PUT,
    LOCK, UNLOCK, COPY, MOVE
    /* , NOTIFY, POLL, SUBSCRIBE, UNSUBSCRIBE */
  );

  SoWebDAVDetectionMethods = (
    OPTIONS,
    MKCOL,
    MKCALENDAR,
    PROPFIND,
    PROPPATCH,
    DELETE,
    PUT,
    LOCK,
    UNLOCK,
    COPY,
    MOVE,
    
    /* WebStore specialties */
    SEARCH,
    NOTIFY,
    POLL,
    SUBSCRIBE,
    UNSUBSCRIBE,
    BCOPY,
    BDELETE,
    BMOVE,
    BPROPFIND,
    BPROPPATCH
  );
  
  SoRequestDispatcherRules = (
    "context.soRequestType='WebDAV'  => renderer = 'SoWebDAVRenderer' ; high",
    "context.soRequestType='XML-RPC' => renderer = 'SoXmlRpcRenderer' ; high",
    "context.soRequestType='SOAP'    => renderer = 'SoSOAPRenderer' ;   high",
    "*true* => renderer = 'SoDefaultRenderer' ; fallback",
    
    "request.isSoSOAPRequest=YES   => dispatcher = 'SoObjectSOAPDispatcher'",
    "request.isSoWebDAVRequest=YES => dispatcher = 'SoObjectWebDAVDispatcher'",
    "request.isSoXmlRpcRequest=YES => dispatcher = 'SoObjectXmlRpcDispatcher'",
    "*true* => dispatcher = 'SoObjectMethodDispatcher'; fallback",
    
    "request.isSoSOAPRequest=YES   => requestType = 'SOAP'",
    "request.isSoWebDAVRequest=YES => requestType = 'WebDAV'",
    "request.isSoXmlRpcRequest=YES => requestType = 'XML-RPC'",
    "*true*                        => requestType = 'METHOD'; fallback",
    
    "request.isSoWebDAVRequest=YES => useAcquisition = NO",
    "headers.translate='f'         => useAcquisition = NO; high",
    "method='GET'                  => useAcquisition = YES; low",
    "method='HEAD'                 => useAcquisition = YES; low",
    "method='POST'                 => useAcquisition = YES; low",
    "*true*                        => useAcquisition = NO; fallback",
  );
}
